.limit {
    margin: 0 auto;
    max-width: 960px;
}

/* .main-site - Conteúdo Principal*/
.main-site {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    max-width: fit-content;
    background: rgba(0, 0, 0, 0.16);
    box-shadow: 0 8px 32px 0 rgba(13, 1, 31, 0.59);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(18, 18, 18, 0.06);
    padding: 50px;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    background-image: url('../img/background_liquid.png');

}

/* .div-logo-site-login - Div Logo Login Site */
.div-logo-site-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 40px;
}

.div-logo-login-svg {
    position: relative;
    max-width: 204px;
}

.div-logo-login-svg>img {
    width: 100%;
}

.div-logo-site-login>h1 {
    position: relative;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 2.25em;
    color: #fff;
}

/* .section-login-formulario - Section Formulario Login Site */
.section-login-formulario {}

.form-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* gap: 20px; */
}

.div-form-email>div,
.div-form-senha>div {
    position: relative;
    display: flex;
    padding: 5px;
    /* border-radius: 7px; */
    margin-bottom: 10px;
    border-bottom: 1px solid #A03DB4;
    align-items: center;
    flex-direction: row-reverse;

}

.div-form-email>span,
.div-form-senha>span {
    position: relative;
    color: #d96060;
    top: -12px;
    font-style: italic;
    font-size: 0.8em;
    max-width: 246px;
    word-break: break-all;
    display: block;
    word-wrap: break-word;
    padding: 0px 7px;
    box-sizing: border-box;
    margin-top: 12px;
}

.div-form-email>div>i,
.div-form-senha>div>i {
    margin-right: 10px;
    color: #fff;
}

.div-form-email>div>div,
.div-form-senha>div>div {
    color: #fff;
    cursor: pointer;
}

.div-form-email>label,
.div-form-senha>label {
    position: relative;
    top: 8.5px;
    font-weight: 500;
    font-family: 'Inter';
    font-size: 1em;
    color: #fff;
}

.div-form-email>div>input,
.div-form-senha>div>input {
    padding: 4px 0px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #fff;
    /* margin-right: 5px; */
    padding-right: 25px;

}
.error-input{
    color: rgb(211, 83, 83) !important;
    border-bottom: 1px solid #A7414F;

}
.icon-form-img {
    position: relative;
    width: 17px;
    padding: 0px 5px;
}

.img-icon-form {
    position: relative;
    width: 17px;
    padding: 0px 5px;
}

.div-form-email>label {
    font-weight: 500;
    font-family: 'Inter';
    font-size: 1em;
}

.div-form-email>div>input:focus,
.div-form-senha>div>input:focus {
    outline: none;
}

.form-login>input[type="submit"] {
    padding: 13px 45px;
    border: none;
    border-radius: 7px;
    color: #fff;
    background-color: #A03DB4;
    font-weight: 700;
    font-family: 'Inter';
    cursor: pointer;
}

.btn-form-login {
    position: relative;
    margin-top: 36px;
}

.span-form-recuperar-senha {
    text-align: end;
    position: relative;
    width: 100%;
    font-weight: 300;
    font-family: 'Inter';
    font-size: 0.8em;
}

.span-form-recuperar-senha>a {
    text-decoration: none;
    color: #2fc9dd;
}

.span-form-recuperar-senha>a:hover {
    border-bottom: 1px solid #2fc9dd;
    color: #2fc9dd;
}